h1 {
        text-align: center;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 100pt;
        color: red;
        margin-bottom: 5px;
        text-decoration: underline;
    }
